@import "../../../../static/sass/style";
@import "../../../../static/sass/config";

.ox_overview__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ox_overview__top-container {
  flex: 1 1 auto;
  max-height: 300px;
  display: flex;
  width: 100%;
  z-index: 5;
}

.ox_overview__bottom-container {
  margin-top: 15px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $primary;
  height: 100%;
}

.ox_overview__bottom-left {
  width: 425px;
  transition: 0.15s ease-in-out;

  .ox_overview__setpoints {
    position: relative;
    top: -100px;
    z-index: 0;
    height: 200px;
    transition: 0.15s ease-in-out;
  }
  .ox_overview__setpoints:hover {
    z-index: 3;
  }

  /* center the pi plots when they are stacked vertically
  on smaller screens */
  @media (max-width: 700px) {
    width: 100%;
    margin-left: calc(50% - 200px);
  }

}

/* this handles resizing of the overview. the "setpoint" charts
are positioned relatively (not flex) - this is due to the svg canvas
being required to expand further than what is a naturally looking
container */
@media (max-width: 1065px) and (min-width: 700px) {

  /* when bottom left is stacked, set it's width to the :window-inactive
     so children can adjust their left positioning */
  .ox_overview__bottom-left {
    width: 100%;
  }

  .ox_overview__setpoints {
    height: 100px !important;
  }

  .ox_overview__setpoints:nth-child(1) {
    top: -100px;
    left: calc(50% - 350px);
  }

  .ox_overview__setpoints:nth-child(2) {
    top: -200px;
    left: 50%
  }
}

.ox_overview__bottom-right {
  flex: 1 1 100px;
  display: flex;
  justify-content: space-around;
  width: 100%;

  .ox_overview__waste-chart {
    width: 100%;

    /* this is an ugly but working solution - set media
       queries based on the window width to allow the .ox_overview_waste-date
       chart to resize. This is necessary because a width of 100% will send
       the orientation into column/stacked mode due to the use of a responsive
       container on the waste chart */
    .chart__container {
      flex: 1 1 400px !important;
      height: 400px;
      width: 100%;
      transition: 0.1s ease-out;

      @media (min-width: 1080px) {
        max-width: 575px !important;
      }

      @media (min-width: 1165px) {
        max-width: 650px !important;
      }

      @media (min-width: 1265px) {
        max-width: 725px !important;
      }

      @media (min-width: 1325px) {
        max-width: 850px !important;
      }

      @media (min-width: 1465px) {
        max-width: 1000px !important;
      }
    }
  }
}

/* machine/specification list */
.ox_overview__machine-list {
  max-height: 270px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

.ox_overview__machine-list:hover{
  overflow-y: scroll;

  .ox_overview-machine-container {
    padding-right: 0px;
  }
}

.ox_overview__machine-container {
  margin-top: 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  .host__label-large {
    margin-bottom: 3px;
  }
}


.ox_overview__machine-item {
  border: 1px solid $secondary;
  background: none !important;
  transition: 0.15s ease-in-out;
  width: 93%;

  @media (max-width: 700px) {
    width: 85%;
  }
}

.ox_overview__machine-item:hover {
  background: $tertiary !important;
}

.ox_overview__machine-item-container {
  color: $secondary !important;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.ox_overview__machine-item-left {
  flex: 0 0 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ox_overview__machine-item-right {
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  font-size: 1rem;
  padding: 3px;
  width: calc(100% - 200px);
}

.ox_overview__machine-item-right-upper {
  display: flex;
  flex-direction: row;

  .ox_overview__machine-item-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.ox_overview__machine-item-date-container {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 125px;
  min-width: 125px;
  @include fluid-type(37.5rem, 80rem, 0.75rem, 1.1rem);
}

.ox_overview__machine-item-yarnid {
  margin-right: 15px;
}

.ox_overview__machine-item-right-lower {
  @include fluid-type(37.5rem, 80rem, 0.75rem, 1.1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* instrumar iframe view */
.ox_overview__instrumar {
  overflow: hidden;
  max-height: 270px;
  min-height: 270px;
  width: 100%;

  iframe {
    position: relative;
    top: -60px;
    left: -10px;
    width: calc(100% + 25px);
    height: 800px;
  }
}

.ox_overview__instrumar-loader {
  position: absolute;
  top: -50px;
  left: calc(50% - 37px);
}


/* up time */
.ox_overview__uptime-container {
  color: $secondary;
  height: 400px;
  flex: 1 1 400px;
  width: 400px;
}

/* waste charts */
.ox_overview__waste-chart-error {
  color: $secondary;
  padding-top: 25px;
  
  h4 {
    text-align: center;
  }
}

.ox_overview__waste-date-range {
  display: flex;
  margin-top: -25px;
  margin-left: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.ox_overview_waste-date {


  div  {
    width: 100px !important;

    input {
      color: #999 !important;
    }
  }
}