app/node_modules
app/coverage
app/dist
app/*.log*

api/hierarchyenv
api/env
api/hierarchyapi/hierarchyapi/settings.py
.idea
.vscode
*.error
*.log
*.pyc

npm-debug.log
webpack-assets.json
webpack-stats.json
