app/node_modules
app/coverage
app/dist
app/*.log*
app/appconfig.json

api/hierarchyenv
api/env
api/hierarchyapi/hierarchyapi/settings.py

.gitmodules
.idea
.vscode
*.error
*.log
*.pyc

npm-debug.log
webpack-assets.json
webpack-stats.json
