@import "../../../../static/sass/style";

.ewa__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

/* chart container holds the data display */
.ewa__chart-container {
  flex: 5 1 600px;
}

/* table container */
.ewa__table-container {
  flex: 5 1 600px;
}

.ewa__table-container h3 {
  text-align: center;
  margin-top: 10%;
}

/* control panel contains all auto complete and most
action fields related to data selection */
.ewa__control-panel-container {
  flex: 1 2 225px;
  padding: 15px;
  max-width: 255px !important;

  /* two columns */
  @media (max-width: 850px) and (min-width: 580px) {
    max-width: 520px !important;
    padding-left: calc(50% - 256px);
  }

  /* stack all on one column, use padding to center */
  @media (max-width: 580px) {
    max-width: 100% !important;
    padding-left: calc(50% - 130px);
  }

  input {
    color: $secondary !important;
  }
}

/* group select text color */
.ewa__control-panel-groups {
  color: $secondary !important;
  
  hr {
    bottom: 2px !important;
  }
}


.ewa__control-panel-autocomplete {
  width: 100% !important;

  /* hint text */
  div {
    color: #999 !important;
    font-style: italic;
    font-size: 0.8rem;
  }
}

.ewa__control-panel-date_range-picker-container {
  display: flex;
  flex-wrap: wrap;
}

.ewa__control-panel-date_range-picker {

  input {
    color: $secondary !important;
  }
}

.ewa__control_panel-actions {

  /* action button text and icons */
  svg, button {
    color: $secondary !important;
    fill: $secondary !important;
  }

  button {

    div {
      width: 115px;
    }
  }
}