@import "../../../../static/sass/style";

.spa__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spa__chart-container {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .ox_overview__setpoints {
    z-index: 0;
  }

  @media(max-width: 1075px) {
    .ox_overview__setpoints {
      margin-left: calc(50vw - 200px);
    }
  }
}

.spa__table-container {
  flex: 2 1 625px;
  width: 100%;
  height: 600px;
  
  .filter_table__row {
    cursor: pointer;
  }
}

.spa__selection-container {
  text-transform: uppercase;
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  z-index: 2;

  color: $secondary !important;
  span {
    font-weight: bold;
  }
}

.spa__pi-chart-container {
  height: 400px;
  width: 800px;

  .chart__container {
    height: 90%;
  }

  /* chart buttons */
  svg {
    color: $primary !important;
    fill: $primary !important;
  }
}

.spa__specification-select {
  padding: 0px 15px;
}

