@import "../../../../static/sass/style";

.sample__forge_overview__container {
  color: skyblue;
}
.forge__production {
  height: 300px;

  .chart__container {
    height: 100%;
  }
}

.forge__uptime {
  height: 300px;

  .chart__container {
    height: 100%;
  }
}