.admin__container {
  width: calc(100% - 30px);
  height: calc(100vh - 70px);
  padding: 25px;
  margin: 15px;
  overflow-y: auto;
}


/* configuration for site detail configuration */
.admin__site-container {
  display: flex;
  flex-wrap: wrap;
}

.admin__site-sidebar {
  flex: 1 1 125px;
  padding: 10px;
}

.admin__site-content {
  flex: 3 1 250px;
  padding: 10px;
}

.admin__form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.admin__form-section {
  flex: 1 1 250px;
  padding: 0px 10px;
}

.admin__form-field {
  width: 100% !important;
}