@import "style";

.modal__spinner {
  height: 400px !important;
  width: 400px !important;

  .cube1 {
    position: relative;
    height: 50px;
    width: 50px;
  }

  .cube2 {
    position: relative;
    height: 50px;
    width: 50px;
  }
}

.modal__child-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__message-container {
  padding-top: 15px;
}