.admin__container {
  width: calc(100% - 30px);
  height: calc(100vh - 70px);
  padding: 25px;
  margin: 15px;
  overflow-y: auto;
}

.admin__message {
  margin-top: 10%;
  text-align: center;
}

.admin__error-field {
  flex: 1 1 auto;
  text-align: center;
  font-size: 0.8rem;
  color: red;
}

/* configuration for site detail configuration */
.admin__site-container {
  display: flex;
  flex-wrap: wrap;
}

.admin__site-sidebar {
  flex: 1 1 125px;
  padding: 10px;
}

.admin__site-content {
  flex: 3 1 250px;
  padding: 10px;
}

/* Configuration for module interface */
.admin__modules-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.admin__modules-list-container {
  flex: 1 1 100px;
  height: 500px;
  overflow-y: auto;
  margin-right: 25px;
}

.admin__modules-form-container {
  flex: 1 1 400px;
}

/* Configuration for api call interface */
.admin__apicalls-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.admin__apicalls-list-container {
  flex: 1 1 100px;
  height: 500px;
  overflow-y: auto;
  margin-right: 25px;
}

.admin__apicalls-form-container {
  flex: 1 1 400px;
}

.admin__form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .mui-form-component {
    margin: 5px;
  }
}

.admin__form-container-column {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mui-form-component {
    align-self: flex-start;
  }
}

.admin__form-section {
  flex: 1 1 250px;
  padding: 0px 10px;
}

.admin__lower-form-section {
  margin-top: 25px;
  align-self: flex-end;
  width: 100%;
}

.admin__form-field {
  width: 100% !important;
}