/*
  positions allow for buttons to be placed in the stop
  right of the chart
*/
.chart__container {
  position: relative;
}

.chart__button-container {
  position: absolute;
  top: 0px;
  right: 0px;

  svg {
    cursor: pointer;
  }
}

// .recharts-x-axis {
//   .recharts-cartesian-axis-tick {
//   //  transform: rotate(45deg);
//     transform-origin: 0% 100%;
//     transform:
//     rotate(-45deg)
//     translate(0, 80%);
//   }
// }