@import "style";

.display__container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.display__module-container {
  z-index: 2;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: $secondary;
  max-height: 33px;
  
  /**
  set collapse into menu/list view when in smaller screens
  This limit is set to be the same as the navbar collapse
  */
  @media (max-width: $collapse1) {
    display: none;
  }
}

.display__module-item {
  padding: 5px 65px 5px 15px !important;
  background: $primary;
  margin-right: -25px;
}

.display__module-item:hover {
  .tooltip {
    visibility: visible;
    opacity: 1;
  }

}

.display__content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 3px solid $secondary;
  color: $secondary;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 100px);

  /* case when in min mode and navbar shifts down */
  @media (max-width: $collapse1) {
    height: calc(100vh - 135px);
  }
}

.display__description-container {
  background: $tertiary;
  font-size: 1rem;
  padding: 5px 15px;

  @media (max-width: 470px) {
    display: none;
  }
}

.display__component-container {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
