@import "style";

.main__sites {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

.main__message {
  text-align: center;
}

.main__departments {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 90px);
  padding: 10px;
}

a {
  text-decoration: none;
  color: $secondary;
}

.main__site-container {
  flex: 1 1 auto;
  margin: 10px;
  padding: 15px;
  border-radius: 2px;
  transition: all 0.45s;

  div {
    padding-bottom: 0px !important;
    background-color: transparent !important;
  }
}

.main__site-card {
  background-color: transparent !important;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;
}

.main__site-title {
  background: $primary;
}

.main__site-title > span {
  font-family: 'Maven Pro';
  color: whitesmoke !important;
  font-weight: 600;
  margin-left: 25px;
}

.main__site-departmentcount {
  background: $primary;
  color: $secondary !important;
}
.main__department-title-container {
  background: $primary;
  text-transform: uppercase;

  svg {
    color: white !important;
  }


  span {
    font-size: 2rem !important;
    color: $secondary !important;
  }

  span:hover {
  }
}

.main__department-title-container:hover {
  background: $tertiary;
}

.main__department-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 200px;
}

.main__department-title:hover {
  transform: translateX(25px);
  transition: 0.25s ease-in-out;
}

.main__department-title-label {
  font-size: 2rem !important;
  font-family: 'Maven Pro';
  font-weight: 600;
  color: $secondary !important;
  transition: 0.15s ease-in-out;
}

.main__department-title-icon {
  display: none;
  align-items: center;
}

.main__site-place {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  height: 36px !important;
  width: 36px !important;
  float: left;
  fill: whitesmoke !important;
}


.main__site-place:hover {
  fill: lighten($primary, 40%) !important;
  transform: rotate(0.5turn);
}

.main__department-container {
  background: $primary !important;
  margin: 25px 5px;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;
  border: 1px solid $secondary;
}

.main__machine-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__machine-label {
  margin-left: 1%;
  font-size: 20px;
}

.main__machine-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
  transition: 0.1s ease-out;

  .main__machine-item-label {
    color: $secondary;
  }
}

.main__machine-item:hover {
  transform: translateX(8px);
  transition: 0.15s ease-in;
}


