@import "style";

.main__loader {
  margin-top: 25px;
}

.main__sites {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  height: 90vh;
}

.main__message {
  text-align: center;
}

.main__departments {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 90px);
  padding: 10px;
}

a {
  text-decoration: none;
  color: $secondary;
}

.main__site-container {
  margin: 10px;
  padding: 15px;
  border-radius: 2px;
  height: 100px;
  background-color: transparent !important;
  font-family: 'Maven Pro';
  transition: transform 0.45s;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;
}

.main__site-title {
  color: whitesmoke !important;
  font-weight: 600;
  font-size: 1.75rem;
  margin-left: 15px;
}

.main__site-subtitle {
  color: whitesmoke !important;
  margin-left: 15px;
}

.main__site-departmentcount {
  color: whitesmoke !important;
  color: $secondary !important;
  margin-left: 15px;
}

.main__department-title-container {
  color: whitesmoke !important;
  background: $primary;
  text-transform: uppercase;

  svg {
    color: white !important;
    fill: white !important;
  }

  span {
    font-size: 2rem !important;
    color: $secondary !important;
  }
}

.main__department-title-container:hover {
  background: $tertiary !important;
}

.main__department-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 200px;
}

.main__department-title:hover {
  transform: translateX(25px) scale(1.1);
  transition: 0.25s ease-in-out;
}

.main__department-title-label {
  font-size: 2rem !important;
  font-family: 'Maven Pro';
  font-weight: 600;
  white-space: nowrap;

  color: $secondary !important;
  transition: 0.15s ease-in-out;
}

.main__department-title-icon {
  display: none;
  align-items: center;
    
  button > svg {
    fill: whitesmoke !important;
  }
}


.main__site-place {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  height: 36px !important;
  width: 36px !important;
  float: left;
  fill: whitesmoke !important;
}


.main__site-place:hover {
  fill: lighten($primary, 40%) !important;
  transform: rotate(0.5turn);
}

.main__department-container {
  background: $primary !important;
  margin: 25px 5px;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;
  border: 1px solid $secondary;
}

.main__machine-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__machine-label {
  margin-left: 1%;
  font-size: 20px;
}

.main__machine-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
  transition: 0.1s ease-out;

  .main__machine-item-label {
    color: $secondary;
  }
}

.main__machine-item:hover {
  transform: translateX(8px);
  transition: 0.15s ease-in;
}


