@import "style";

.modal__spinner {
  height: 400px !important;
  width: 400px !important;
}

.modal__dialog-container svg {
  fill: whitesmoke !important;
}

.modal__child-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal__message-container {
  padding-top: 15px;
}

.modal__dialog-body-container {
  padding: 0px !important;
}

.modal__error {
  margin: 15px;
}