@import "style";


/* main container for navbar */
.navbar__container {
  z-index: 2;
  height: 46px;
  width: 100%;
  background-color: $primary;
  color: $secondary;
  min-width: 300px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-width: 290px;

  a {
    text-decoration: none;
    color: $secondary;
  }
}

.navbar__icon-container {
  margin-top: -5px;
  padding: 10px 20px 0px 20px;

  img {
    height: 30px;
  }
}

.navbar__app-label {
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 35px;
  font-size: 1.45rem;
}

/* container for site > department > machine display */
.navbar__hierarchy-container {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

/* target the first navigational component to add extra styling */
.navbar__hierarchy-item-holder {
  float: left;
  cursor: pointer;
  height: 46px;
  width: 0px;
  align-items: center;
}

.navbar__hierarchy-item-parent {
  display: flex;
  flex-direction: row;
  float: left;
  cursor: pointer;
  height: 46px;
  align-items: center;
}

.navbar__hierarchy-item-child:hover {
  color: $tertiary;
}

.navbar__chain-container {
  background-image: url('/static/media/nav-arrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 65px;
  height: 100%;
  margin: 5px 10px;
}
.navbar__hierarchy-item-child {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  line-height: 100%;
  padding: 0px 10px;
  user-select: none;
}

/* targeting the last item in the hierarchy */
.navbar__hierarchy-item-last {
  color: $font1;
  font-weight: bold;
}

.navbar__info-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar__username {
  margin-left: auto;
  margin-right: 25px;
  text-transform: uppercase;
}

.navbar__settings {
  cursor: pointer;
  margin-right: 15px;
}

.navbar__neighbor-container {
  padding: 10px 15px;
  max-height: 400px;
  width: 200px;
  overflow: hidden;
  background: $tertiary;
  border: 1px solid $secondary;
  border-radius: 3px;

  position: absolute;
  color: $secondary;
  list-style: none;

}

.navbar__neighbor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 220px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px;

  a {
    width: 200px;
  }
}

.navbar__neighbor-item {
  margin-bottom: 3px;
  transition: 0.15s ease-in-out;
}

.navbar__neighbor-item:hover {
  transform: translateX(10px);
  transition: 0.25s ease-in-out;
}

/**
Collapse hierarchy to a second row, adjust it's formatting
to remove skews and other "shiny" formatting things.
*/
@media (max-width: 950px) {

  .navbar__container {
    height: 85px;
    box-shadow: $tertiary 0px 0px 0px !important;
  }

  .navbar__app-label {
    margin-right: 0px;
  }

  .navbar__chain-container {
    display: none;
  }

  .navbar__hierarchy-container {
    opacity: 1;
    background: darken($tertiary, 10%);
    justify-content: center;
    align-content: stretch;
    order: 3;
    width: 100%;
    min-width: 200px !important;
    height: 46px;
  }

  .navbar__hierarchy-item-holder {
    border:none;
  }

  .navbar__hierarchy-item-parent {
    /* rotation */
    height: 80%;
    border-right: 0px solid $primary !important;
    transition: none !important;
  }

  .navbar__hierarchy-item-child {
    padding: 0px 30px;
  }
}


/**
Hide Icon, name containers, shrink hierarchy items to
have a smaller font size
*/
@media (max-width: 470px) {

  .navbar__container {
    justify-content: center;
  }

  .navbar__app-label {
    text-align: center;
  }

  .navbar__icon-container {
    display: none;
  }
  
  .navbar__hierarchy-item-child {
    padding: 0px 10px;
    font-size: 0.9rem;
    transition: height 0s;
  }

  .navbar__info-container {
    margin-left: 0px !important;
  }

  .navbar__username {
    display: none;
  }

}