/* Color Scheme */
$primary: darken(#151E25, 3%);
$secondary: #FFFFFF;
$tertiary: #285F64;

$font1: #59A1B6;


// content widths
$minWidth: 295px;
$maxWidth: 1000px;

#root {
  height: 100%;
}
.application__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.application__content-container {
  display: flex;
  flex: 1 1 auto;
  width: 85%;
  min-width: $minWidth;
  max-width: $maxWidth;

  transition: width 0.25s ease-in-out;
}

.application__content-card {
  padding: 0px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1 !important;
  background-color: $primary !important;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;

  a {
    color: $primary !important;
  }
}

@media (max-width: 1000px) {
  .application__content-container {
    width: 100%;
  }
}

.notfound__container {
  flex: 1 1 auto;
}
