/* Color Scheme */
$primary: darken(#151E25, 2%);
$secondary: #FFFFFF;
$tertiary: #285F64;

$font1: #59A1B6;


// content widths
$minWidth: 295px;
$maxWidth: 1400px;

// collapse levels
$collapse1: 950px;

html, body {
  height: 100%;
  margin: 0;
  background: $primary;
  margin: 0;
  font-family: Roboto;
  overflow-y: hidden;
}

body {
  background:url('https://res.cloudinary.com/dvr87tqip/image/upload/v1486860742/grid_dinlrq.svg');
  background-color: $primary !important;
  
  scrollbar-base-color: $secondary;
  scrollbar-3dlight-color: $tertiary;
  scrollbar-highlight-color: $primary;
  scrollbar-track-color: $tertiary;
  scrollbar-arrow-color: $primary;
  scrollbar-shadow-color: $tertiary;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $tertiary; 
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $secondary;
}

#root {
  height: 100%;
}

.application__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.application__content-container {
  margin-top: 46px;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-width: $minWidth;
  max-width: $maxWidth;

  transition: width 0.25s ease-in-out;
}

.application__content-card {
  padding: 0px 20px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;

  a {
    color: $primary !important;
  }

  div > {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .application__content-container {
    width: 100%;
  }
  .application__content-card {
    margin: 0px !important;
  }
}

.notfound__container {
  flex: 1 1 auto;
}


/* Formatting for csv generator - simple clickable svg icon */
.csv__container {
  cursor: pointer;
  height: 35px !important;
  width: 35px !important;
}

/* Formatting for image generator */
.png__container {
  cursor: pointer;
  height: 35px !important;
  width: 35px !important;
}


/* not found page styles */
.notfound__container {
  
  h2, h4 {
    text-align: center;
    color: $secondary;
    
    a {
      color: $secondary !important;      
    }
  }
}

div:focus, textarea:focus, input:focus{
  outline: 0 !important;
  outline: none !important;
}


.tooltip {
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: $primary;
  color: $secondary;
  border: 1px solid $secondary;
  font-size: 0.8rem;
  padding: 5px;
  max-width: 250px;
  text-transform: none;
  white-space: normal;
  margin-top: 25px;
  text-align: center;
  border-radius: 2px;
  transition: visibility 0.25s, opacity 0.35s ease-in-out;
}