/* Color Scheme */
$primary: darken(#151E25, 4%);
$secondary: #FFFFFF;
$tertiary: #285F64;

$font1: #59A1B6;


// content widths
$minWidth: 295px;
$maxWidth: 1400px;

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.application__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.application__content-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-width: $minWidth;
  max-width: $maxWidth;

  transition: width 0.25s ease-in-out;
}

.application__content-card {
  padding: 0px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0px 15px 15px 15px !important;
  z-index: 1 !important;
  background-image: url(https://res.cloudinary.com/dvr87tqip/image/upload/v1486860742/grid_dinlrq.svg) !important;
  background-color: $primary !important;
  box-shadow: lighten($primary, 15%) 0px 0px 0px, lighten($primary, 15%) 0px 0px 0px !important;

  a {
    color: $primary !important;
  }

  div > {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .application__content-container {
    width: 100%;
  }
  .application__content-card {
    margin: 0px !important;
  }
}

.notfound__container {
  flex: 1 1 auto;
}


/* Formatting for csv generator - simple clickable svg icon */
.csv__container {
  cursor: pointer;
  height: 35px !important;
  width: 35px !important;
}

/* Formatting for image generator */
.png__container {
  cursor: pointer;
  height: 35px !important;
  width: 35px !important;
}

/* tooltips are hidden until their parent is hovered over */
.tooltip__text {
  white-space: nowrap;
  position: absolute;
  font-size: 0.85rem;
  text-align: center;
  color: $secondary;
  background: $primary;
  padding: 10px;
  right: 15px;
  border: 1px solid $secondary;
}

.recharts-tooltip-cursor {
  color: $primary !important;
}

/* not found page styles */
.notfound__container {
  
  h2, h4 {
    text-align: center;
    color: $secondary;
    
    a {
      color: $secondary !important;      
    }
  }
}
